root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 140
trim_trailing_whitespace = true

[*.{kt,kts}]
ktlint_code_style = android_studio
ktlint_disabled_rules=no-wildcard-imports

[*.{cpp,h,hpp,cc,c}]
indent_size = 2
max_line_length = 100

[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2
